
// --- NEW THEME COLOR CONFIGURATION ---
$primary: #e91e63; // Dashboard banner aur buttons ke liye

$solid-colors: (
    "blue": #003473,
    "midnight-blue": #0C0C3C,
    "indigo": #3f51b5,
    "dark-purple": #322740,
    "purple": #e91e63,  // Pink kar diya
    "pink": #e91e63,    // Pink kar diya
    "primary": #e91e63, // Is line ko bhi add kar dein
    "red": #f44336,
    "gray": #2d2d33,
    "slate-gray": #405365
);



// $solid-colors: (
//     "blue": #003473,
//     "midnight-blue": #0C0C3C,
//     "indigo": #3f51b5,
//     "dark-purple": #322740,
//     "purple": #8B5CF6,
//     "pink": #CB3066,
//     "red": #f44336,
//     "gray": #2d2d33,
//     "slate-gray": #405365
// );

// // Gradient colors
// $gradient-colors: (
//   gradient-purple-indigo: (
//     "start-color": #8B5CF6,
//     "end-color": #33214b
//   ),
//   gradient-black-blue: (
//     'start-color' : #004e92,
//       'end-color' : #000428
//   ),
//   gradient-black-gray: (
//     'start-color' : #404040,
//       'end-color' : #000000
//   ),
//   gradient-steel-gray: (
//     'start-color' : #616d86,
//       'end-color' : #1F1C2C
//   )
// );
